<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Remos eCommerce Admin Dashboard HTML Template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/animation.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">



    <!-- Font -->
    <link rel="stylesheet" href="font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="images/favicon.png">

    <style>
        .error-message {
            color: red;
            font-size: 0.875em; /* Adjust font size as needed */
            margin-top: 5px;
        }
    </style>

</head>

<body class="body">

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <div class="wrap-login-page">
                <div class="flex-grow flex flex-column justify-center gap30">
                    <a href="index.html" id="site-logo-inner">
                        
                    </a>
                    <div class="login-box">
                        <div>
                            <h3>Admin Login </h3>
                            <div class="body-text">Enter your email & password to login</div>
                        </div>
                        <form action="/admin/login" method="POST" class="form-login flex flex-column gap24" id="adminLoginForm">
                            <% if (typeof message !== 'undefined' && message) { %>
                                <div class="alert alert-warning col-md-12">
                                    <%= message %>
                                </div>
                            <% } %>
                            <fieldset class="email">
                                <div class="body-title mb-10">Email address <span class="tf-color-1">*</span></div>
                                <input class="flex-grow" type="email" placeholder="Enter your email address" id="email" name="email" tabindex="0" value=""  >
                                <div id="error1"class='error-message'></div>
                            </fieldset>
                            <fieldset class="password">
                                <div class="body-title mb-10">Password <span class="tf-color-1">*</span></div>
                                <input class="password-input" type="password" placeholder="Enter your password" id="password" name="password" tabindex="0" value="" >
                               
                                <span class="show-pass">
                                    <i class="icon-eye view"></i>
                                    <i class="icon-eye-off hide"></i>
                                </span>
                                <div id="error2" class="error-message"></div>
                            </fieldset>
                            <!-- <div class="flex justify-between items-center">
                                <div class="flex gap10">
                                    <input class="" type="checkbox" id="signed">
                                    <label class="body-text" for="signed">Keep me signed in</label>
                                </div>
                                <a href="#" class="body-text tf-color">Forgot password?</a>
                            </div> -->
                            <button type="submit" class="tf-button w-full">Login </button>
                        </form>

                       
                    </div>
                </div>
                <div class="text-tiny">Copyright © 2024 Remos, All rights reserved.</div>
            </div>
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->

    <!-- Javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/main.js"></script>
    <script>
      const emailid=document.getElementById('email')
      const passwordid=document.getElementById('password')
      const error1 = document.getElementById('error1')
      const error2 = document.getElementById('error2')
      const adminform = document.getElementById('adminLoginForm')

      function emailValidateChecking(){
        const emailVal = emailid.value
        const emailpattern = /^[a-zA-Z0-9._-]+@([a-zA-Z0-9.-]+)\.([a-zA-Z]{2,4})$/;

        if(!emailpattern.test(emailVal)){
            error1.style.display='block'
              error1.innerHTML='Invalid Format'
        }else{
            error1.style.display='none'
            error1.innerHTML=''
        }
    }
    function passwordValidateChecking() {
        const passwordVal = passwordid.value;
        
        if (passwordVal.trim() === '') {
            error2.style.display = 'block';
            error2.innerHTML = 'Password is required';
        } else {
            error2.style.display = 'none';
            error2.innerHTML = '';
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        adminform.addEventListener('submit', function (e) {
            emailValidateChecking();
            passwordValidateChecking();

            if (error1.innerHTML || error2.innerHTML) {
                e.preventDefault();
            }
        });
    });

    </script>

</body>

</html>