
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/user/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>
	<!--google-->
    <meta name='google_signin_client_id'content=65400054511-as871amkl3ldmrqvimo14p0gmm1p68je.apps.googleusercontent.com>
    <script src='https://apis.google.com/js/platform.js'></script>
		<!-- CSS -->
		<!-- ============================================= -->
	<link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/linearicons.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/nouislider.min.css">
	<link rel="stylesheet" href="/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/mycss.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">



    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min./css"> -->
    

</head>


 <body>

	 <!-- Start Header Area  -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img src="/img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="/home">Home</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
									
								</ul>
							</li>
							
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">
								 <% if (user && user.fname) { %>
								 <%= user.fname %>
								 <% } else { %>
									User
								  <% } %></a>
								<ul class="dropdown-menu">
									<% if (user) { %> 
									<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
									<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
									<li class="nav-item"><a class="nav-link" href="/profile">My Profile</a></li>
									<li class="nav-item"><a class="nav-link" href="/order-history">Orders</a></li>
									<li class="nav-item"><a class="nav-link" href="/coupon">Coupon</a></li>
									<li class="nav-item"><a class="nav-link" href="/wallet">Wallet</a></li>
									<% } else { %>
									<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
									<% } %>
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag"></span></a></li>
							<li class="nav-item"><a href="/wishlist" class="wishlist"><span class="fa fa-heart"></span></a></li>
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between" action="/shop" method="GET">
					<input type="text" class="form-control" name="search" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn search-button"><span class="lnr lnr-magnifier"></span></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area --> 



<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/login">Login/Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="img/login.jpg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                        <a class="primary-btn" href="/signup">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    <form class="row login_form" action="/login" method="post" id="loginForm" >
                        <% if (typeof message !== 'undefined' && message) { %>
                            <div class="alert alert-warning col-md-12">
                                <%= message %>
                            </div>
                          <% } %>
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                            <div id="error1"class='error-message'></div>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                            <div id="error2" class="error-message"></div>
                        </div>
                        <!-- <div class="col-md-12 form-group">
                            <a href="/forgot-password" class="forgot-password-link">Forgot Password?</a>
                        </div> -->
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <!-- <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Keep me logged in</label> -->
                                <a href="/forgot-password" class="forgot-password-link ">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Log In</button>
                            <!-- <a href="#">Forgot Password?</a> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    <%- include('../layouts/user/footer.ejs') %>
    <script>
      const emailid=document.getElementById('email')
      const passwordid=document.getElementById('password')
      const error1 = document.getElementById('error1')
      const error2 = document.getElementById('error2')
      const loginform = document.getElementById('loginForm')



      function emailValidateChecking(){
        const emailVal = emailid.value
        const emailpattern = /^[a-zA-Z0-9._-]+@([a-zA-Z0-9.-]+)\.([a-zA-Z]{2,4})$/;

        if(!emailpattern.test(emailVal)){
            error1.style.display='block'
              error1.innerHTML='Invalid Format'
        }else{
            error1.style.display='none'
            error1.innerHTML=''
        }
    }
    function passwordValidateChecking() {
        const passwordVal = passwordid.value;
        
        if (passwordVal.trim() === '') {
            error2.style.display = 'block';
            error2.innerHTML = 'Password is required';
        } else {
            error2.style.display = 'none';
            error2.innerHTML = '';
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        loginform.addEventListener('submit', function (e) {
            emailValidateChecking();
            passwordValidateChecking();

            if (error1.innerHTML || error2.innerHTML) {
                e.preventDefault();
            }
        });
    });


    </script>
